# Logs (Registros de errores)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias (LA MÁS IMPORTANTE)
node_modules/

# Build (Archivos generados para producción)
dist/
dist-ssr/
*.local

# Editor directories and files (Basura del sistema operativo y editores)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Variables de entorno (SEGURIDAD)
.env
.env.*
!.env.example
